<div class="scorecardContainer">
  <mat-card class="scoreCard">
    <div class="teeChange">
      <mat-form-field id="teeDropDown">
        <mat-label>Change Tee:</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="teeType">
          <mat-option
            *ngFor="let teeType of selectedTeeType"
            [value]="teeType.name"
          >
            {{ teeType.viewName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <table class="scorecardTable">
      <tr>
        <th>Hole</th>
        <th>Par</th>
        <th>HDCP</th>
        <th>Yards</th>
        <th *ngFor="let player of players">{{ player.name }}</th>
      </tr>
      <tr *ngFor="let hole of data.holes | slice: 0:9">
        <td class="holeCell">{{ hole.hole }}</td>
        <td class="parCell">{{ hole.teeBoxes[0].par }}</td>
        <td class="hcpCell">{{ hole.teeBoxes[0].hcp }}</td>
        <td class="yardCell">{{ hole.teeBoxes[0].yards }}</td>
        <td *ngFor="let player of players">
          <input class="playerInput" />
        </td>
      </tr>
      <tr>
        <td>Out</td>
        <td>x</td>
        <td>Out</td>
        <td>{{ outTotalYards }}</td>
        <td *ngFor="let player of players">
          <input value="0" class="playerInput" />
        </td>
      </tr>
      <tr *ngFor="let hole of data.holes | slice: 9:18">
        <td class="holeCell">{{ hole.hole }}</td>
        <td class="parCell">{{ hole.teeBoxes[0].par }}</td>
        <td class="hcpCell">{{ hole.teeBoxes[0].hcp }}</td>
        <td class="yardCell">Yds</td>
        <td *ngFor="let player of players">
          <input class="playerInput" />
        </td>
      </tr>
      <tr>
        <td>In</td>
        <td>x</td>
        <td>In</td>
        <td>{{ inTotalYards }}</td>
        <td *ngFor="let player of players">
          <input value="0" class="playerInput" />
        </td>
      </tr>
      <tr>
        <td>Total</td>
        <td>x</td>
        <td>Total</td>
        <td>y</td>
        <td *ngFor="let player of players">
          <input value="0" class="playerInput" />
        </td>
      </tr>
    </table>
  </mat-card>
</div>
