.scorecardContainer {
  height: 90%;
  overflow: scroll;

  .scoreCard {
    height: 100%;
    max-width: 100%;
    font-size: 14px;
    overflow: scroll;

    .buttonAndSelect {
      display: flex;
      justify-content: space-evenly;
      height: 40px;
      margin-bottom: 5px;

      .buttonSave {
        height: 14px;
      }
    }

    .scoreCardDiv {
      display: flex;
      justify-content: center;
      height: 95%;

      .scorecardTable {
        height: 95%;
      }

      th {
        border: 1px solid black;
        margin: 0;
      }

      tr,
      td {
        margin: 0;
        border: 1px solid black;
        text-align: center;
      }
    }

    .playerInput {
      width: 63px;
      border: none;
      text-align: center;
    }

    .playerInput:focus {
      outline: none;
    }

    .holeCell {
      width: 10px;
    }

    .parCell {
      width: 10px;
    }

    .hcpCell {
      width: 10px;
    }
  }
}
