.scorecardContainer {
  height: 90%;
  overflow: scroll;

  .scoreCard {
    height: 100%;
    max-width: 100%;
    font-size: 14px;
    overflow: scroll;

    .teeChange {
      margin-bottom: 5px;
    }

    .scorecardTable {
      height: 95%;

      th {
        border: 1px solid black;
      }

      tr,
      td {
        margin: 0;
        border: 1px solid black;
        text-align: center;
      }
    }

    .playerInput {
      width: 63px;
      border: none;
    }

    .playerInput:focus {
      outline: none;
    }

    .holeCell {
      width: 10px;
    }

    .parCell {
      width: 10px;
    }

    .hcpCell {
      width: 10px;
    }
  }
}
