.scorecardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  overflow: scroll;

  .scoreCard {
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow: scroll;

    .buttonAndSelect {
      display: flex;
      justify-content: space-evenly;
      height: 40px;
      margin-bottom: 5px;

      .buttonSave {
        height: 14px;
      }
    }

    .scoreCardDiv {
      display: flex;
      justify-content: center;
      height: 95%;
      margin: auto;
      margin-top: 10px;

      @media (min-width: 850px) {
        max-width: 1000px;
      }

      .scorecardTable {
        height: 95%;
        justify-content: center;
        border-spacing: 0;
        border-collapse: collapse;
      }

      th {
        border: 1px solid black;
        padding: 5px;
      }

      tr,
      td {
        margin: 0;
        border: 1px solid black;
        text-align: center;
      }
    }

    .playerInput {
      width: 63px;
      border: none;
      text-align: center;
    }

    .playerInput:focus {
      outline: none;
    }

    .holeCell {
      width: 10px;
    }

    .parCell {
      width: 10px;
    }

    .hcpCell {
      width: 10px;
    }
  }

  .notLoaded {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .buttonDiv {
      margin-top: 100px;
    }

    .spinnerDiv {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
