.navbarContainer {
  display: flex;
  width: 100%;
  margin: 0;

  .mat-toolbar {
    display: flex;
    width: 100%;
    color: #e1e2e3;
    background-color: #43515b;
    border-bottom: 3px solid black;
    justify-content: space-between;
  }

  .material-icons {
    font-size: 35px;
  }

  mat-icon {
    width: 35px;
    height: 35px;
  }

  .mat-icon-button i,
  .mat-icon-button .mat-icon {
    line-height: 35px;
  }

  div {
    margin-right: 18px;
    cursor: pointer;
  }
}
