.navbarContainer {
  display: flex;
  margin: 0;
}

.mat-toolbar {
  width: 100%;
  background-color: #4381c1;
  border-bottom: 3px solid black;
}

.buttonDiv {
  display: flex;
  flex: 1;
}

.appNameDiv {
  display: flex;
  flex: 4;
  justify-content: flex-start;
}

.material-icons {
  font-size: 35px;
}

mat-icon {
  width: 35px;
  height: 35px;
}

.mat-icon-button i,
.mat-icon-button .mat-icon {
  line-height: 35px;
}

div {
  margin-left: 10px;
  cursor: pointer;
}
