.navbarContainer {
  display: flex;
  width: 100vw;
  margin: 0;

  .mat-toolbar {
    display: flex;
    justify-content: center;
    background-color: #43515b;
    border-bottom: 2px solid black;

    .toolbarBtn {
      display: flex;
      justify-content: center;
      color: #e1e2e3;
      justify-content: space-between;

      @media (min-width: 1000px) {
        width: 1000px;
      }
    }
  }

  .material-icons {
    font-size: 35px;
  }

  mat-icon {
    width: 35px;
    height: 35px;
  }

  .mat-icon-button i,
  .mat-icon-button .mat-icon {
    line-height: 35px;
  }

  div {
    margin-right: 18px;
    cursor: pointer;
  }
}
