.saveGamesContainer {
  height: 90%;

  .saveGamesCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .deleteBtnDiv {
      display: flex;
      justify-content: left;

      @media (min-width: 700px) {
        width: 500px;
      }

      @media (min-width: 1000px) {
        width: 1000px;
      }

      .deleteSelectedBtn {
        width: 9em;
        margin-bottom: 8px;
      }
    }

    .tableDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    table {
      @media (min-width: 700px) {
        width: 500px;
      }

      @media (min-width: 1000px) {
        width: 1000px;
      }

      .mat-column-select {
        width: 30px;
      }

      .mat-column-gameId {
        font-size: 12px;
        width: 80px;
        word-wrap: break-word !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
      }

      .mat-column-position {
        width: 30px;
        text-align: center;
      }

      .mat-column-players {
        width: 30px;
        text-align: center;
      }

      .totalScoreCell {
        text-align: center;
      }

      .mat-column-totalScore {
        width: 100px;
        text-align: center;
      }
    }

    .spinnerDiv {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
