.saveGamesContainer {
  height: 90%;

  .saveGamesCard {
    height: 100%;

    table {
      width: 100%;
    }

    .spinnerDiv {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
