<div class="singleCourseContainer">
  <mat-card class="courseInfoCard">
    <div class="courseInfoTitle">Course Information</div>
    <div *ngIf="data" class="mainInfo">
      <div class="nameCityState">
        {{ data.name }}
        {{ data.city }}
        {{ data.stateOrProvince }}
      </div>
      <div class="addr1">
        {{ data.addr1 }}
      </div>
      <div class="phone">
        {{ data.phone }}
      </div>
      <div class="holeCount">Holes: {{ data.holeCount }}</div>
      <img class="thumbnail" src="{{ data.thumbnail }}" />
      <div class="teeTypeTitle">TeeTypes:</div>
      <div class="yardageContainer">
        <div class="teeTypes">
          Pro Yardage: <br />
          {{ setData.getYardage("pro") }}
        </div>
        <div class="teeTypes">
          Champion Yardage: <br />
          {{ setData.getYardage("champion") }}
        </div>
        <div class="teeTypes">
          Men Yardage: <br />
          {{ setData.getYardage("men") }}
        </div>
        <div class="teeTypes">
          Women Yardage: <br />
          {{ setData.getYardage("women") }}
        </div>
      </div>
    </div>
    <div class="bottomSection">
      <div class="playerList">
        Player List ({{ maxPlayers - setData.players.length }}):
      </div>
      <div *ngFor="let player of setData.players" id="players" class="players">
        {{ player.name }}
      </div>
      <mat-error *ngIf="playerName.hasError('duplicate')">
        Duplicate Name
      </mat-error>
      <div class="addPlayers">
        <div class="playerName">
          <input
            id="nameInput"
            type="text"
            placeholder="Player Name"
            (keydown)="addPlayers($event)"
            [formControl]="playerName"
          />
        </div>
        <div class="buttonDiv">
          <button
            type="button"
            class="addPlayerBtn btn-sm btn-primary"
            (click)="addPlayers($event)"
            [disabled]="
              playerName.hasError('duplicate') || setData.players.length >= 4
            "
          >
            Add
          </button>
        </div>
      </div>
      <button
        type="button"
        class="startBtn btn-sm btn-primary"
        (click)="startGame(cardId)"
      >
        Start!
      </button>
    </div>
  </mat-card>
</div>
