.singleCourseContainer {
  height: 90%;

  .courseInfoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .courseInfoTitle {
      margin-bottom: 12px;
    }

    .mainInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
    }

    .thumbnail {
      width: 300px;
      height: 180px;
      object-fit: fill;
      border: 1px solid black;
      box-shadow: 1px 2px;
      margin-top: 20px;
    }

    .siteLink {
      font-size: 16px;
      margin-top: 10px;
    }

    .teeTypeTitle {
      margin-top: 40px;
    }

    .yardageContainer {
      display: flex;
      text-align: center;
      margin-top: 10px;
    }

    .bottomSection {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;

      #nameInput {
        height: 30px;
      }

      .playerList {
        margin-bottom: 8px;
      }

      .players {
        margin-bottom: 5px;
      }

      .addPlayers {
        display: flex;
        margin-bottom: 5px;

        mat-form-field {
          height: 60px;
          border-top: 0;
        }
      }

      .buttonDiv {
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
    }
  }
}
