<div class="singleCourseContainer">
  <mat-card class="courseInfoCard">
    <div class="courseInfoTitle">Course Information</div>
    <div *ngIf="data" class="mainInfo">
      <div class="nameCityState">
        {{ data.name }}
        {{ data.city }}
        {{ data.stateOrProvince }}
      </div>
      <div class="addr1">
        {{ data.addr1 }}
      </div>
      <div class="phone">
        {{ data.phone }}
      </div>
      <div class="holeCount">Holes: {{ data.holeCount }}</div>
      <img class="thumbnail" src="{{ data.thumbnail }}" />
      <button
        mat-raised-button
        color="link"
        (click)="externalSiteNav(data.website)"
        class="siteLink"
      >
        Visit Site
      </button>
      <div class="teeTypeTitle">TeeTypes:</div>
      <div class="yardageContainer">
        <div class="teeTypes">
          Pro Yardage: <br />
          {{ setData.getYardage("pro") }}
        </div>
        <div class="teeTypes">
          Champion Yardage: <br />
          {{ setData.getYardage("champion") }}
        </div>
        <div class="teeTypes">
          Men Yardage: <br />
          {{ setData.getYardage("men") }}
        </div>
        <div class="teeTypes">
          Women Yardage: <br />
          {{ setData.getYardage("women") }}
        </div>
      </div>
    </div>
    <div class="bottomSection">
      <div class="playerList">
        Player List ({{ maxPlayers - setData.players.length }}):
      </div>
      <div *ngFor="let player of setData.players" id="players" class="players">
        {{ player.name }}
      </div>
      <mat-error *ngIf="playerName.hasError('duplicate')">
        Same Name <br />
        Adding Number...
      </mat-error>
      <div class="addPlayers">
        <div class="playerName">
          <mat-form-field>
            <mat-label>Add Players</mat-label>
            <input
              matInput
              id="nameInput"
              type="text"
              placeholder="Player Name"
              (keydown)="addPlayers($event)"
              [formControl]="playerName"
            />
          </mat-form-field>
        </div>
        <div class="buttonDiv">
          <button
            mat-mini-fab
            color="primary"
            type="button"
            class="addPlayerBtn btn-sm btn-primary"
            (click)="addPlayers($event)"
            [disabled]="setData.players.length >= 4"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="startBtn btn-sm btn-primary"
        (click)="startGame(cardId)"
      >
        Save & Start!
      </button>
    </div>
  </mat-card>
</div>
